name: Data Preprocessing

on:
  push:
    paths:
      - "data/**"
      - "src/**"
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn

      - name: Jalankan preprocessing
        run: |
          python preprocessing/automate_Muhammad-Aidil-Mirza.py

      - name: Commit hasil preprocessing
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add preprocessing/diabetes_preprocessing.csv
          git commit -m "Update dataset hasil preprocessing otomatis" || echo "Tidak ada perubahan"
          git push
